#semanatitulo {
  font-size: 20px;
}

#semanaProx, #semanaAnt {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#semanaAnt:hover, #semanaProx:hover {
  background-color: #555;
}


td {
  position: relative;
}

td:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

td:not(:first-child):hover:before {
  background-color: rgba(0, 0, 0, 0.1);
}